[Unit]
Description=Pi-hole Visualizer Service
After=pihole-FTL.service lighttpd.service

[Service]
Type=idle
ExecStart=/home/kyoshiro/dev/git/pi-hole-visualizer/dns_stats.py -c ads -i 180 -s 1 2 3 -o 180

[Install]
WantedBy=multi-user.target
